spec.pdf
HY-351-PROJECT-2026/mysql_data/
HY-351-PROJECT-2026/backend/dist/
HY-351-PROJECT-2026/backend/node_modules/
HY-351-PROJECT-2026/frontend/node_modules/
HY-351-PROJECT-2026/frontend/.next/
HY-351-PROJECT-2026/**/.env
HY-351-PROJECT-2026/**/.env.*
.DS_Store
diagrams/.DS_Store
figma/Mockups/.DS_Store
figmaImages/.DS_Store
figmaImages/Heraklion Port.jpg
HY-351-PROJECT-2026/.DS_Store
HY-351-PROJECT-2026/.vscode/settings.json
HY-351-PROJECT-2026/frontend/public/images/hike-preview.jpg
